@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
}

/*mobile styles*/
body {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: larger;
  display: flex;
  justify-content: center;
  background: papayawhip;
  margin: 0;
}

.card {
  margin-top: 2rem;
  text-align: center;
  border-radius: 5%;
  padding: 2rem;
  background-color: #fce38a;
  box-shadow: 6px 6px 1px 0px rgba(198, 54, 99, 0.4);
  font-size: large;
}

h1 {
  color: #c63663;
  text-align: center;
  font-size: 2rem;
}

.avatar {
  height: 8rem;
  border-radius: 50%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  font-size: medium;
}

.star-button,
.trash-button {
  border: none;
  background-color: inherit;
}

@media (min-width: 800px) {
  body {
    padding-top: 5rem;
  }
}
