input[type="search"] {
  color: #c63663;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding: 0.3em 0em 0.4em 0.5em;
  width: 100%;
  border-radius: 0.4em;
  transition: background 0.5s ease-out;
}
article {
  flex-direction: column;
  display: flex;
  padding: 0em 2em 2em 2em;
  width: 95vw;
}

@media (min-width: 800px) {
  body {
    padding-top: 5rem;
  }

  article {
    padding: 0em 2em 2em 2em;
    width: 60vw;
  }
}
